.action-bar {
  margin: 3% 0%;
}

.action-bar #new-expense {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: auto 1%;
  width: 150px;
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

.action-bar #new-expense:hover { background: #666; }
.action-bar #new-expense:active { background: #444; }

.action-bar #new-expense-form { 
  display: none;
  border: 2px black; 
  padding: 2em;
  width: 400px;
  text-align: center;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 9999;
  background-color: darkgray;
}

.action-bar input { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}

.action-bar .submit { 
  width: 140px;
  display: inline-block;
  background: black;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}