.action-bar {
  margin: 3% 0%;
}

.action-bar #new-expense {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: auto 1%;
  width: 150px;
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

.action-bar #new-expense:hover { background: #666; }
.action-bar #new-expense:active { background: #444; }