.expense-form { 
  display: none;
  border: 2px black;
  padding: 2em;
  width: 400px;
  text-align: center;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 9999;
  background-color: darkgray;
}

.expense-form input { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  display: block; 
  width: 280px; 
  padding: .4em;
}

.expense-form .submit { 
  width: 140px;
  display: inline-block;
  background: black;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}