.summary {
  margin: 3% 0%;
}

.summary-row {
  margin: 0% 0%;
}

.summary-column {
  padding: 0% 0%;
}

.summary .tile {
  height:100px;
  padding: 2% 2%;
}

.summary .tile-leftmost {
  margin-right: 1%;
}

.summary .tile-rightmost {
  margin-left: 1%;
}

.summary .tile-middle {
  margin: 0% 1%;
}